/.quarto/
/_book
/header_files

/.luarc.json
.DS_Store

#generated tex files
*.toc
*.synctex(busy)
*.synctex.gz
*.fls
*.pdf
*.log
*.bcf
*.aux
*.fdb_latexmk
.DS_Store
#*.tex

!figures/*.pdf
!figures/tikz/*.pdf
!figures/tikz/*.tex